
h1 {
    color: #f3d1d1d7;
    text-align: center;
}

body {
    background-color: #221c24;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-dark .nav-item .nav-link {
    color: #f3d1d1d7;
    padding: 10px 15px; 
    text-transform: uppercase; 
    font-weight: bold;
    display: flex; 
    align-items: center;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 5px;
    color: #f3d1d1d7; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.fa-li {
    position: relative;
    left: 0;
}